*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/dash
src/bitcoinflash
src/bitcoinflashd
src/bitcoinflash-cli
src/bitcoinflash-tx
src/test/test_dash
src/test/test_bitcoinflash
src/qt/test/test_bitcoinflash-qt
src/bench/bench_bitcoinflash
src/bench/bench_bitcoinflash

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/dash-config.h
src/config/dash-config.h.in
src/config/bitcoinflash-config.h
src/config/bitcoinflash-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp
libconftest.dylib*

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.dash
.bitcoinflash
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
bitcoinflash-qt
Bitcoinflash-qt.app

# Unit-tests
Makefile.test
bitcoinflash-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_dash.coverage/
test_bitcoinflash.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/BitcoindComparisonTool.jar

!src/leveldb*/Makefile

.cproject
.project
.autotools
/doc/doxygen/

libdashconsensus.pc
libbitcoinflashconsensus.pc
src/qt/bitcoinflash-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
bitcoinflash-cli
bitcoinflashd
bitcoinflash-qt
make

/.idea
/CMakeLists.txt
/cmake-build-debug/